#cntctfrm_contact_form input.text, 
#cntctfrm_contact_form textarea,
#cntctfrm_contact_message, 
#cntctfrm_contact_name, 
#cntctfrm_contact_email,
#cntctfrm_contact_subject {
	width:320px;
}
#adminmenu #toplevel_page_bws_plugins div.wp-menu-image
{
	background: url("../images/icon_16.png") no-repeat scroll center center transparent;
}
#adminmenu #toplevel_page_bws_plugins:hover div.wp-menu-image,#adminmenu #toplevel_page_bws_plugins.wp-has-current-submenu div.wp-menu-image
{
	background: url("../images/icon_16_c.png") no-repeat scroll center center transparent;
}	
.wrap #icon-options-general.icon32-bws
{
	background: url("../images/icon_36.png") no-repeat scroll left top transparent;
}
#toplevel_page_bws_plugins .wp-submenu .wp-first-item, .cntctfrm_hidden
{
	display:none;
}
.cntctfrm_info {
	color: rgb(136, 136, 136); 
	font-size: 10px;
	clear:both;
}
#cntctfrm_contact_attachment {
	margin-bottom:0;
}
#cntctfrm_contact_send_copy, #cntctfrm_attachment, #cntctfrm_send_copy, #cntctfrm_change_label {
	position:relative;
	top:2px;
}
#cntctfrm_attachment, #cntctfrm_send_copy, #cntctfrm_change_label {
	position:relative;
	top:3px;
}
#cntctfrm_select_email_user, #cntctfrm_select_email_custom {
	position:relative;
	top:5px;
}
.cntctfrm_change_label_block input {
	margin: 1px 0;
}